.main-nav {
  min-height: 128px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 266px;
  grid-template-rows: 1fr 60px;
  grid-template-areas:
    "logo main-nav tel user-bar"
    "drop-nav search search actions";
  column-gap: 15px;
  padding: 0 40px;
}

.main-nav__logo {
  grid-area: logo;
  font-size: 30px;
  font-weight: 900;
  color: $main-blue;
}

.main-nav__list {
  grid-area: main-nav;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.main-nav__item {
  display: flex;
  align-items: center;
  position: relative;
}

.main-nav__item:hover {
  border-bottom: 1px solid $main-blue;
}

.main-nav__item::before {
  display: block;
  content: "";
  position: relative;
  left: -8px;
  top: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $grey-bool;
}

.main-nav__tel {
  grid-area: tel;
  text-align: end;
}

.main-nav__user-bar {
  grid-area: user-bar;
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: end;
}

.main-nav__drop {
  grid-area: drop-nav;
}

.main-nav__search {
  grid-area: search;
}

.main-nav__action {
  grid-area: actions;
}
