.main-nav {
  min-height: 128px;
  display: grid;
  grid-template-columns: max-content 1fr max-content 266px;
  grid-template-rows: max-content 60px;
  grid-template-areas:
    "logo main-nav tel user-bar"
    "drop-nav search search actions";
  column-gap: 15px;
  padding: 0 40px;
  row-gap: 19px;
}

.main-nav__logo {
  grid-area: logo;
  font-size: 30px;
  font-weight: 900;
  color: $main-blue;
}

.main-nav__list {
  grid-area: main-nav;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin: 10px 0 0 5px;
}

.main-nav__item {
  display: flex;
  align-items: center;
  position: relative;
}

.main-nav__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: rgba($text-blue, 0.9);
  border-bottom: 1px solid transparent;
}

.main-nav__link:hover {
  color: rgba($yellow, 0.8);
  border-bottom: 1px solid $yellow;
}

.main-nav__link:active {
  color: $yellow;
  border-bottom: 1px solid $yellow;
}

.main-nav__link--active,
.main-nav__link--active:hover,
.main-nav__link--active:active {
  color: $text-blue;
  border-bottom: 1px solid $text-blue;
}

.main-nav__item:not(:first-child)::before {
  display: block;
  content: "";
  position: relative;
  left: -8px;
  top: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $grey-bool;
}

.main-nav__tel {
  grid-area: tel;
  text-align: end;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  margin: 13px 2px 0 0;
}

.main-nav__user-bar {
  grid-area: user-bar;
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: end;
  margin: 10px 19px 0 0;
  gap: 14px;
}

.main-nav__drop {
  grid-area: drop-nav;
  min-width: 371px;
}

.main-nav__search {
  grid-area: search;
}

.main-nav__action {
  grid-area: actions;
}
