.product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content max-content 1fr;
  grid-template-areas:
    "breadcrumbs breadcrumbs"
    "photos action-bar"
    "characteristics reviews";
  padding: 20px 163px 38px 44px;
  background-color: white;
}

.product__breadcrumbs {
  grid-area: breadcrumbs;
}

.product__full-photo {
  width: 580px;
  min-width: 580px;
  height: 580px;
  min-height: 580px;
  margin: 9px 0 0 7px;
}

.product__full-photo--animation {
  opacity: 0;
}

.product__photo-btn {
  display: block;
  width: 120px;
  min-width: 120px;
  height: 120px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 2px solid white;
  transition: opacity 0.3s;
  border-radius: 5px;
}

.product__photo-btn--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
}

.product__photos {
  grid-area: photos;
  display: grid;
  grid-template-columns: 120px 1fr;
  position: relative;
}

.product__photos-list {
  position: relative;
  width: 120px;
  height: 580px;
  position: relative;
  width: fit-content;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  margin: 0;
  height: fit-content;
  margin: 45px 0px 0 1px;
  gap: 7px;
  overflow: hidden;
  padding: 2px;
}

.product__photo-nav {
  content: "";
  position: absolute;
  z-index: 3;
  left: calc(120px / 2 - 60px / 2);
  width: 60px;
  height: 40px;
  background: transparent
    url("data:image/svg+xml;charset=UTF-8,%3csvg width='29' height='16' viewBox='0 0 29 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.3673 13.3844C28.7578 13.775 28.7578 14.4081 28.3673 14.7987C27.9768 15.1892 27.3436 15.1892 26.9531 14.7987L14.5891 2.43468L2.22518 14.7987C1.83465 15.1892 1.20148 15.1892 0.81096 14.7987C0.420435 14.4081 0.420435 13.775 0.81096 13.3844L13.882 0.31336C14.2726 -0.0771608 14.9057 -0.0771608 15.2963 0.31336L28.3673 13.3844Z' fill='%2333485D'/%3e%3c/svg%3e ")
    no-repeat center center;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.product__photo-nav:hover {
  background-color: rgba($green, 0.1);
}

.product__photo-nav:active {
  background-color: rgba($green, 0.2);
}

.product__photo-nav--before {
  top: -6px;
}

.product__photo-nav--next {
  top: 560px;
  transform: rotate(180deg);
}

.product__photo-btn:hover {
  outline: 2px solid $green;
  position: relative;
  z-index: 2;
}

.product__photo-btn--active {
  outline: 2px solid $green;
  position: relative;
  z-index: 2;
}

.product__about {
  grid-area: action-bar;
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  row-gap: 13px;
  margin: 17px 0 0 17px;
}

.product__about-header {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  gap: 22px;
}

.product__characteristics {
  grid-area: characteristics;
  padding-left: calc(163px - 44px);
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  margin: 4px 0 0;
}

.product__characteristics-btn--js {
  height: fit-content;
  width: fit-content;
  justify-content: start;
  margin: 24px auto auto 0;
}

.product__characteristics-list {
  margin: 23px 0 0;
}

.product__reviews {
  grid-area: reviews;
}

.product__presence {
  @include icon-before;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: $green;
}

.product__presence::before {
  content: "";
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.0729 11.9805L18.2745 2.97832L19.3572 3.96481L10.148 14.0729L5.12764 9.30038L6.13701 8.23872L10.0729 11.9805ZM18.7885 6.74023L17.6462 7.99793C17.812 8.63468 17.9004 9.30233 17.9004 9.99023C17.9004 14.3518 14.3518 17.9004 9.99023 17.9004C5.62866 17.9004 2.08008 14.3518 2.08008 9.99023C2.08008 5.62866 5.62866 2.08008 9.99023 2.08008C12.0108 2.08008 13.8565 2.84203 15.2562 4.09309L16.2437 3.00579C14.5222 1.46072 12.3213 0.615234 9.99023 0.615234C7.48615 0.615234 5.13176 1.59039 3.36113 3.36113C1.59039 5.13176 0.615234 7.48615 0.615234 9.99023C0.615234 12.4943 1.59039 14.8487 3.36113 16.6193C5.13176 18.3901 7.48615 19.3652 9.99023 19.3652C12.4943 19.3652 14.8487 18.3901 16.6193 16.6193C18.3901 14.8487 19.3652 12.4943 19.3652 9.99023C19.3652 8.86322 19.1671 7.76688 18.7885 6.74023V6.74023Z' fill='%23259756'/%3e%3c/svg%3e ")
    center center;
}

.product__rating {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
}

.product__rating-stars {
  display: flex;
  gap: 4px;
}

.product__rating-star svg {
  opacity: 0.3;
}

.product__rating-star--active svg {
  opacity: 1;
}

.product__rating-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  border-bottom: 1px solid rgba($main-blue, 0.5);
}

.product__artic {
  font-family: "Nunito";
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: $artic-blue;
  margin: 0;
}

.product__artic-number {
  color: $text-blue;
}

.product__artic {
  margin-left: auto;
}

.product__action {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  border: 1px solid #dde8f0;
  border-radius: 10px;
  overflow: hidden;
}

.product__promo {
  min-height: 59px;
  display: grid;
  grid-template-columns: max-content 1fr;
  background-color: rgba($red, 0.2);
  color: $red;
}

.product__promo-title {
  min-width: 109px;
  padding: 16px 21px;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  display: flex;
  align-items: center;
  background-color: $red;
  color: white;
  margin: 0;
}

.product__promo-text {
  display: flex;
  align-items: center;
  padding: 16px 21px;
  margin: 0;
}

.product__price {
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  color: $red;
  padding: 39px 21px 19px;
  margin: 0;
  display: flex;
  gap: 24px;
  align-items: center;
}

.product__old-price {
  height: fit-content;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: $text-blue;
  opacity: 0.5;
  padding: 0 11px;
}

.product__old-price::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background-color: $red;
}

.product__btns {
  display: grid;
  min-height: 60px;
  grid-template-columns: 1fr 1fr;
  margin: 0;
}

.product__action-btn {
  @include icon-after;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  background-color: $green;
  color: white;
  border: none;
  transition: all 0.3s;
  margin: 0 7px 0 0;
  border: none;
  display: grid;
  justify-content: start;
  padding: 15px 20px;

  svg {
    width: 30px;
    height: 30px;

    path {
      fill: white;
    }
  }
}

.product__action-btn:hover {
  color: white;
  background-color: #18703e;
}

.product__action-btn:active {
  color: white;
  background-color: $green;
}

.product__features {
  border-top: 1px solid $light-blue;
  margin: 11px 0 0 0;
}

.product__feature {
  @include icon-before;
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  padding: 30px 13px;
  color: $artic-blue;
  border-bottom: 1px solid $light-blue;
  transition: all 0.3s;
  row-gap: 0;
}

.product__feature:hover {
  background-color: rgba($green, 0.05);
}

.product__feature-arrow {
  position: absolute;
  width: 6px;
  height: 9px;
  top: 37.5px;
  right: 7px;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='6' height='9' viewBox='0 0 6 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.08634 0.186357C0.837823 -0.0621424 0.434902 -0.0621424 0.186386 0.186357C-0.0621292 0.434857 -0.0621292 0.837803 0.186386 1.0863L3.55459 4.45451L0.186386 7.82271C-0.0621289 8.07123 -0.0621289 8.47416 0.186387 8.72267C0.434902 8.97119 0.837824 8.97119 1.08634 8.72267L4.90452 4.90449C5.15304 4.65597 5.15304 4.25305 4.90452 4.00453L1.08634 0.186357Z' fill='%2333485D'/%3e%3c/svg%3e ")
    no-repeat center center;
}

.product__feature-arrow--open {
  transform: rotate(90deg);
}

.product__feature--guarantee::before {
  content: "";
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_308:9)'%3e%3cpath d='M18.4957 5.42651L18.4951 5.41094C18.4864 5.21883 18.4806 5.01559 18.4771 4.78945C18.4607 3.6867 17.5841 2.77454 16.4812 2.71289C14.1817 2.58456 12.4029 1.83475 10.8829 0.353278L10.87 0.340919C10.3742 -0.11364 9.62637 -0.11364 9.13046 0.340919L9.11749 0.353278C7.59757 1.83475 5.8187 2.58456 3.51921 2.71304C2.41646 2.77454 1.53969 3.6867 1.52337 4.78961C1.52001 5.01421 1.51406 5.21746 1.50536 5.41094L1.50444 5.44711C1.45974 7.79192 1.40419 10.7102 2.38045 13.3589C2.91725 14.8155 3.73024 16.0817 4.79667 17.1225C6.01127 18.3078 7.60214 19.2488 9.52505 19.9193C9.58761 19.9411 9.65261 19.9588 9.71884 19.9721C9.81222 19.9907 9.90621 20 10.0002 20C10.0942 20 10.1883 19.9907 10.2816 19.9721C10.3478 19.9588 10.4133 19.9409 10.4761 19.919C12.3967 19.2473 13.9859 18.3058 15.1995 17.1207C16.2654 16.0796 17.0784 14.8131 17.6157 13.3562C18.5956 10.6995 18.5402 7.77574 18.4957 5.42651ZM16.5146 12.9501C15.485 15.7419 13.3831 17.6591 10.0889 18.8112C10.0771 18.8151 10.0646 18.8187 10.0516 18.8212C10.0176 18.828 9.98297 18.828 9.94848 18.8211C9.93566 18.8185 9.92315 18.8151 9.91156 18.8112C6.61384 17.6613 4.51057 15.7451 3.48167 12.9532C2.58186 10.5116 2.63283 7.83281 2.67784 5.46954L2.67815 5.45641C2.6873 5.25332 2.69341 5.04061 2.69676 4.80685C2.70409 4.3172 3.0941 3.91208 3.58467 3.88476C4.88594 3.81213 6.02912 3.56067 7.07953 3.11603C8.12857 2.672 9.06027 2.04608 9.92758 1.20258C9.97167 1.16535 10.0289 1.1652 10.0728 1.20258C10.9403 2.04608 11.872 2.672 12.9209 3.11603C13.9713 3.56067 15.1145 3.81213 16.4159 3.88476C16.9065 3.91208 17.2965 4.3172 17.3037 4.807C17.3072 5.04199 17.3133 5.25469 17.3224 5.45641C17.3673 7.82243 17.417 10.5034 16.5146 12.9501Z' fill='%23219653'/%3e%3cpath d='M10 5.01611C7.25159 5.01611 5.01572 7.25214 5.01572 10.0004C5.01572 12.7488 7.25159 14.9848 10 14.9848C12.7483 14.9848 14.9843 12.7488 14.9843 10.0004C14.9843 7.25214 12.7483 5.01611 10 5.01611ZM10 13.8111C7.89872 13.8111 6.18927 12.1017 6.18927 10.0004C6.18927 7.89911 7.89872 6.18967 10 6.18967C12.1011 6.18967 13.8106 7.89911 13.8106 10.0004C13.8106 12.1017 12.1011 13.8111 10 13.8111Z' fill='%23219653'/%3e%3cpath d='M11.4325 8.45289L9.11741 10.768L8.48905 10.1396C8.25986 9.91041 7.88831 9.91041 7.65913 10.1396C7.43009 10.3688 7.43009 10.7403 7.65913 10.9694L8.70252 12.0128C8.81712 12.1274 8.96726 12.1846 9.11741 12.1846C9.26756 12.1846 9.4177 12.1274 9.5323 12.0128L12.2624 9.28266C12.4914 9.05347 12.4914 8.68192 12.2624 8.45289C12.0332 8.22355 11.6617 8.22355 11.4325 8.45289Z' fill='%23219653'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_308:9'%3e%3crect width='20' height='20' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ")
    no-repeat center center;
  pointer-events: none;
}

.product__feature--delivery::before {
  content: "";
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.6667 11.011V4.58332C16.6667 4.50465 16.6391 4.43527 16.6012 4.3725L16.6073 4.36891L14.1073 0.202227C14.032 0.0769141 13.8965 0 13.75 0H2.91668C2.7702 0 2.63469 0.0769141 2.55941 0.202227L0.0594141 4.36891L0.0654687 4.3725C0.0276172 4.43527 0 4.50465 0 4.58332V16.25C0 16.4803 0.186367 16.6667 0.41668 16.6667H11.011C11.557 18.5875 13.3232 20 15.4167 20C17.9439 20 20 17.9439 20 15.4167C20 13.3232 18.5875 11.557 16.6667 11.011ZM13.514 0.83332L15.5141 4.16664H10.7582L10.0916 0.83332H13.514ZM7.42488 0.83332H9.24246L9.91582 4.16664H6.7582L7.42488 0.83332ZM10 5V6.66668H6.66543L6.65969 5H10ZM3.15266 0.83332H6.57605L5.91586 4.16664H1.15262L3.15266 0.83332ZM10.8545 15.8333H0.83332V5H5.83332V7.08332C5.83332 7.31363 6.01969 7.5 6.25 7.5H10.4167C10.647 7.5 10.8334 7.31363 10.8334 7.08332L10.8268 5H15.8333V10.8545C15.6959 10.842 15.5573 10.8334 15.4166 10.8334C12.8894 10.8334 10.8333 12.8894 10.8333 15.4167C10.8333 15.5573 10.842 15.6959 10.8545 15.8333ZM15.4167 19.1667C13.3488 19.1667 11.6667 17.4845 11.6667 15.4167C11.6667 13.3488 13.3488 11.6667 15.4167 11.6667C17.4845 11.6667 19.1667 13.3488 19.1667 15.4167C19.1667 17.4845 17.4845 19.1667 15.4167 19.1667Z' fill='%23219653'/%3e%3cpath d='M17.2054 13.8721L14.5834 16.4942L13.628 15.5388C13.4652 15.376 13.2015 15.376 13.0388 15.5388C12.876 15.7015 12.876 15.9652 13.0388 16.1279L14.2888 17.3779C14.3702 17.4593 14.4768 17.5 14.5834 17.5C14.69 17.5 14.7966 17.4593 14.878 17.3779L17.7947 14.4613C17.9575 14.2985 17.9575 14.0348 17.7947 13.8721C17.6319 13.7093 17.3682 13.7093 17.2054 13.8721Z' fill='%23219653'/%3e%3c/svg%3e ")
    no-repeat center center;
  pointer-events: none;
}

.product__feature--payment::before {
  content: "";
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_308:32)'%3e%3cpath d='M18.9993 13.2046H17.08L16.5413 17.2693C16.4642 17.815 15.963 18.1977 15.4162 18.1282L0.868834 16.2003C0.605199 16.1649 0.366457 16.0261 0.205391 15.8143C0.0436164 15.604 -0.0270141 15.3376 0.0092601 15.0748L1.23675 5.81765C1.30196 5.3191 1.72695 4.94635 2.22974 4.94673C2.27281 4.94681 2.3158 4.94973 2.35849 4.9554L3.32214 5.08249V2.86434C3.32214 2.31168 3.77014 1.86367 4.3228 1.86367H18.9993C19.5519 1.86367 19.9999 2.31168 19.9999 2.86434V12.2039C19.9999 12.7566 19.5519 13.2046 18.9993 13.2046ZM16.4072 13.2046H13.8025L16.3622 13.5438L16.4072 13.2046ZM0.669701 15.1649C0.657985 15.252 0.681751 15.3401 0.735745 15.4094C0.789406 15.4807 0.869417 15.5276 0.957893 15.5395L15.5026 17.4668C15.6855 17.49 15.8533 17.3624 15.8799 17.1799L16.0116 16.1866L0.801455 14.1696L0.669701 15.1649ZM3.32214 5.75527L2.27277 5.61684C2.09015 5.59258 1.92245 5.72095 1.89819 5.90358C1.89819 5.90362 1.89819 5.90366 1.89819 5.9037L1.15402 11.5268L3.32214 11.8133V5.75527ZM3.36617 12.4918L1.06463 12.1882L0.889514 13.5078L16.0997 15.5251L16.1997 14.7606L16.2738 14.2053L8.72574 13.2046H4.3228C3.88168 13.2038 3.49308 12.9143 3.36617 12.4918ZM19.3328 2.86434C19.3328 2.68013 19.1835 2.53078 18.9993 2.53078H4.3228C4.1386 2.53078 3.98925 2.68013 3.98925 2.86434V12.1939C3.98925 12.1972 3.99092 12.2006 3.99092 12.2039C3.99092 12.3881 4.14027 12.5375 4.32447 12.5375H18.9993C19.1835 12.5375 19.3328 12.3881 19.3328 12.2039V2.86434Z' fill='%23219653'/%3e%3cpath d='M14.6451 8.19354C14.7792 8.29253 14.8977 8.41102 14.9966 8.54511C15.545 7.80691 16.5881 7.65306 17.3263 8.20151C18.0645 8.74992 18.2183 9.79295 17.6699 10.5312C17.3552 10.9547 16.8585 11.204 16.3309 11.2033C15.8038 11.2018 15.3088 10.9504 14.9966 10.5258C14.4497 11.2669 13.4055 11.4243 12.6644 10.8774C11.9233 10.3304 11.7659 9.28628 12.3128 8.54511C12.8598 7.80403 13.904 7.64659 14.6451 8.19354ZM16.3309 10.5362C16.8835 10.5362 17.3315 10.0881 17.3315 9.53549C17.3315 8.98282 16.8835 8.53482 16.3309 8.53482C15.7782 8.53482 15.3302 8.98282 15.3302 9.53549C15.3302 10.0881 15.7782 10.5362 16.3309 10.5362ZM13.6624 10.5362C14.2151 10.5362 14.6631 10.0881 14.6631 9.53549C14.6631 8.98282 14.2151 8.53482 13.6624 8.53482C13.1098 8.53482 12.6617 8.98282 12.6617 9.53549C12.6617 10.0881 13.1098 10.5362 13.6624 10.5362Z' fill='%23219653'/%3e%3cpath d='M5.99069 10.8698H5.32358V10.2026H5.99069V10.8698Z' fill='%23219653'/%3e%3cpath d='M10.6605 10.8698H6.65781V10.2026H10.6605V10.8698Z' fill='%23219653'/%3e%3cpath d='M10.6605 9.53552H5.32358V8.86839H10.6605V9.53552Z' fill='%23219653'/%3e%3cpath d='M17.6652 6.53345H5.65714C5.47293 6.53345 5.32358 6.3841 5.32358 6.19989V4.19855C5.32358 4.01434 5.47293 3.865 5.65714 3.865H17.6652C17.8494 3.865 17.9987 4.01434 17.9987 4.19855V6.19989C17.9987 6.3841 17.8494 6.53345 17.6652 6.53345ZM17.3316 4.53211H5.99069V5.86633H17.3316V4.53211Z' fill='%23219653'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_308:32'%3e%3crect width='20' height='20' fill='white' transform='matrix(1 0 0 -1 0 20)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ")
    no-repeat center center;
  pointer-events: none;
}

.product__feature-text {
  grid-column: 1 / -1;
  font-weight: 400;
  margin-top: 10px;

  transition: all 0.3s;
}

.product__characteristics-item {
  display: grid;
  grid-template-columns: 235px 1fr;
  column-gap: 9px;
}

.product__characteristics-dt {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: $text-blue;
}

.product__characteristics-dt::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 9px;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom: 2px dotted $grey-bool;
  margin: 0;
  padding: 0;
}

.product__characteristics-term {
  display: block;
  width: fit-content;
  height: 100%;
  position: relative;
  z-index: 1;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  padding-right: 20px;
}

.product__characteristics-item dd {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: $artic-blue;
  margin: 0;
  padding: 0;
}
