.review {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content max-content 1fr;
  grid-template-areas:
    "review-title review-btn"
    "review-list review-list";
  margin: 9px 20px 0;
}

.review__item {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  grid-template-areas:
    "name date rating"
    "text text text";
  column-gap: 20px;
  align-items: center;
  padding: 28px 0;
  transition: all 0.3s;
}

.review__item:not(:last-child) {
  border-bottom: 1px solid $light-blue;
}

.review__h3 {
  grid-area: review-title;
  margin-bottom: 10px;
}

.review__btn {
  grid-area: review-btn;
  height: fit-content;
  margin: 35px -21px 0 0;
  gap: 7px;
}

.review__btn-container {
  padding: 0 0 0 50px;
}

.review__button {
  width: fit-content;
  height: fit-content;
  min-height: 40px;
  border-radius: 10px 0 10px 0;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;
  font-size: 13px;
  line-height: 120%;
  color: $artic-blue;
  margin: 22px auto 0;
}

.review__list {
  grid-area: review-list;
  display: grid;
  margin: 0;
}

.review__rating {
  grid-area: rating;
}

.review__name {
  grid-area: name;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: $text-blue;
}

.review__date {
  grid-area: date;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  color: $artic-blue;
  position: relative;
}

.review__date::before {
  content: "/";
  position: absolute;
  top: calc(50% - 15px);
  left: -12px;
}

.review__text {
  grid-area: text;
  padding: 0 11px 0 0;
}
